In [12]:
import requests
import pandas as pd
import json
import talib

In [13]:
base = 'https://api.huobi.pro'
url = '/market/history/kline?period=1min&size=200&symbol=btcusdt'
final_url = base + url
reqs = requests.get(final_url)

In [18]:
df = pd.DataFrame(reqs.json()['data'])
df.rename(columns={'high':'High','low':'Low','open':'Open','close':'Close','vol':'Volume'},inplace=True)
df['Adj Close']= df['Close']

df

,id,Open,Close,Low,High,amount,Volume,count,Adj Close
0,1637367540,58437.70,58457.82,58416.28,58492.47,5.608301,327895.000448,225,58457.82
1,1637367480,58528.24,58437.71,58380.00,58560.09,6.111661,357257.059261,610,58437.71
2,1637367420,58507.45,58528.23,58493.37,58528.45,2.903858,169912.476937,202,58528.23
3,1637367360,58470.08,58507.45,58468.20,58530.25,3.210326,187841.946499,289,58507.45
4,1637367300,58454.09,58476.01,58448.74,58518.20,4.740577,277293.672175,310,58476.01
...,...,...,...,...,...,...,...,...,...
195,1637355840,57703.58,57652.01,57623.50,57703.59,12.097066,697423.021702,550,57652.01
196,1637355780,57728.21,57706.07,57690.90,57728.22,8.097330,467268.412955,257,57706.07
197,1637355720,57760.93,57728.21,57725.33,57760.93,3.613988,208663.160725,203,57728.21
198,1637355660,57791.47,57760.93,57746.01,57793.75,2.004798,115824.700335,152,57760.93
199,1637355600,57772.32,57789.33,57760.60,57799.93,2.379035,137449.159792,182,57789.33

In [9]:


print(help(talib.SMA))

Help on function SMA in module talib._ta_lib:

SMA(...)
    SMA(real[, timeperiod=?])

    Simple Moving Average (Overlap Studies)

    Inputs:
        real: (any ndarray)
    Parameters:
        timeperiod: 30
    Outputs:
        real

None