In [13]:
import gzip
import json
import pprint
import threading
import pandas as pd
import time
import websocket

In [5]:
import requests
base = 'https://api.huobi.pro'
url = '/market/history/kline?period=1min&size=200&symbol=btcusdt'
final_url = base + url
reqs = requests.get(final_url)

In [25]:
curl= "https://api.huobi.pro/v1/order/orders/place"
rr= requests.get(curl)

In [26]:
rr.json()

{'status': 'error',
 'err-code': 'login-required',
 'err-msg': 'The account is not logged in, please log in and try again.',
 'data': None}

In [22]:
df

Empty DataFrame
Columns: []
Index: []